[submodule "OCA/contract"]
	path = OCA/contract
	url = git@github.com:OCA/contract.git
	branch = 14.0

[submodule "guohuadeng/app-odoo"]
	path = guohuadeng/app-odoo
	url = git@github.com:guohuadeng/app-odoo.git
	branch = 14.0
